<app-main-page></app-main-page>
<div class="posts" *ngFor="let post of posts">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <img routerLink="/profile/{{post.user_id}}" mat-card-avatar [src]="avatar" alt="profile">
      <mat-card-title routerLink="/profile/{{post.user_id}}">
        {{ AllUser[post.user_id] && AllUser[post.user_id].firstname }}
      </mat-card-title>
      <mat-card-subtitle routerLink="/profile/{{post.user_id}}">
        {{ AllUser[post.user_id].created_at | date:'mediumDate' }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="img" *ngIf="post.image.length != 0">
      <img class="post-image" mat-card-image [src]="post.image" alt="Post image">
    </div>

    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="onLike(post.id, 'post')">
        <span>{{ likemap[post.id] || 0 }}</span>
        <mat-icon>thumb_up_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="onDislike(post.id, 'post')">
        <span>{{ dislikemap[post.id] || 0 }}</span>
        <mat-icon>thumb_down</mat-icon>
      </button>
      <button mat-icon-button (click)="comments.comments_by_post[post.id] ? openDialog(post.id) : null">
        <span>{{ !comlength[post.id] ? 0 : comlength[post.id]}}</span>
        <mat-icon>forum</mat-icon>
      </button>
    </mat-card-actions>
    <span class="comment-form">
      <form (submit)="onComment(post.id, 'comment', $event)">
        <input matInput placeholder="Type a comment..." name="comment">
        <div class="comments-media-icons">
          <p class="comments-image-uploader">
            <label for="image">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                stroke="#999999" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="3" width="18" height="18" rx="2"></rect>
                <circle cx="8.5" cy="8.5" r="1.5"></circle>
                <path d="M20.4 14.5L16 10 4 20"></path>
              </svg>
            </label>
            <input type="file" class="comment-upload-media" id="image" name="image" (change)="onFileSelected($event)">
          </p>
        </div>
        <button class="send" mat-icon-button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </span>
    <span class="spacer"></span>

  </mat-card>

</div>