<div class="posts" *ngFor="let post of posts">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <img routerLink="/profile/{{id}}" mat-card-avatar src="logo.png" width="64" height="64" alt="profile">
      <mat-card-title routerLink="/profile/{{id}}">{{ user.name }}</mat-card-title>
      <mat-card-subtitle routerLink="/profile/{{id}}">&#64;{{ user.nickname }}</mat-card-subtitle>
    </mat-card-header>
    <img class="post-image" mat-card-image [src]="post.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="onLike(post.id, 'post')">
        <span>{{ likemap[post.id] }}</span>
        <mat-icon>thumb_up_outilne</mat-icon>
      </button>
      <button mat-icon-button (click)="onDislike(post.id,'post')">
        <span>{{ dislikemap[post.id]}}</span>
        <mat-icon>thumb_down</mat-icon>
      </button>
      <!-- <button mat-icon-button>
                <span>{{ comments.length }}</span>
                <mat-icon>forum</mat-icon>
            </button> -->
      <span class="comment-form">
        <form (submit)="onComment(post.id,'comment', $event)">
          <input matInput placeholder="Comment" name="comment">
          <button class="send" mat-icon-button type="submit">
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </span>
      <span class="spacer"></span>
      <!-- <button mat-icon-button>
                <span>{{ shares }}</span>
                <mat-icon>share</mat-icon>
            </button> -->
    </mat-card-actions>
  </mat-card>
</div>

<div class="user-list-container" *ngIf="allusers && allusers.length > 0; else noUsers">
  <div class="user-card" *ngFor="let user of allusers">
    <img [src]="user.avatar" alt="Avatar of {{ user.firstname }}" class="user-avatar">
    <div class="user-details">
      <h3>{{ user.firstname }} {{ user.lastname }}</h3>
      <p>{{ user.email }}</p>
      <p>{{ user.nickname || 'No nickname' }}</p>
      <button >Add User</button>
    </div>
  </div>
</div>

<ng-template #noUsers>
  <p>No users available.</p>
</ng-template>



