<app-toolbar></app-toolbar>
<div class="container">
    <h5 class="mt-3 title">Followers</h5>
    <div class="row">
        <div class="col-md-12 list" *ngFor="let user of suggestions">
            <mat-divider></mat-divider>
            <div class="user">
                <div class="info-img">
                    <div class="img" style="width: 50px; height: 50px;">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user" style="width: 100%; height: 100%;">
                    </div>
                    <div class="info">
                        <span class="name">{{user.firstname}}&nbsp;{{user.lastname}}</span>
                        <div class="state">
                            <span>Friends: <b>10.3k</b></span>|
                            <span>Followers: <b>10.3k</b></span>|
                            <span>Followings: <b>10.3k</b></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-success">Follow back</button>
                    <button class="btn btn-danger" routerLink="/profile/{{user.id}}">Decline</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 no-user" *ngIf="size === 1">
            <span>No Followers</span>
        </div>
    </div>

    <h5 class="mt-5">Suggestion</h5>
    <div class="row">
        <div class="col-md-12 list" *ngFor="let user of suggestions">
            <div class="user">
                <div class="info-img">
                    <div class="img" style="width: 50px; height: 50px;">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user" style="width: 100%; height: 100%;">
                    </div>
                    <div class="info">
                        <span class="name">{{user.firstname}}&nbsp;{{user.lastname}}</span>
                        <div class="state">
                            <span>Friends: <b>10.3k</b></span>|
                            <span>Followers: <b>10.3k</b></span>|
                            <span>Followings: <b>10.3k</b></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-warning">Follow</button>
                    <button class="btn btn-info" routerLink="/profile/{{user.id}}">Profile</button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div class="col-md-12 no-user" *ngIf="size === 1">
            <span>No Suggestion</span>
        </div>
        <div class="col-md-12" *ngIf="followers.length === 0">
            <span>No Suggestion</span>
        </div>

    </div>
</div>