<app-toolbar></app-toolbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user">
                <div class="info-img">
                    <div class="img">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user">
                    </div>
                    <div class="info">
                        <span>John DOE</span>
                        <span>Followers: 10 k</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-warning">Follow</button>
                    <button class="btn btn-info">Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>