<app-toolbar></app-toolbar>
<div class="groupe-form-container">
    <h2>Add group</h2>

    <form [formGroup]="groupeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="groupName">Name</label>
        <input id="groupName" formControlName="name" type="text" class="form-control" />
        <div *ngIf="groupeForm.get('name')?.invalid && groupeForm.get('name')?.touched" class="error-message">
          The group name is required and must not exceed 50 characters.
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
        <div *ngIf="groupeForm.get('description')?.invalid && groupeForm.get('description')?.touched" class="error-message">
          The description is required and must not exceed 250 characters.
        </div>
      </div>
  
      <div class="form-group">
        <label for="isPublic">Groupe Public</label>
        <input id="isPublic" formControlName="isPublic" type="checkbox" />
      </div>
  
      <div class="form-group">
        <label for="image">Image du groupe</label>
        <input id="image" type="file" (change)="onFileSelected($event)" class="form-control" />
        <div *ngIf="selectedFileName" class="file-name">
          Fichier sélectionné: {{ selectedFileName }}
        </div>
      </div>
  
      <button type="submit" [disabled]="groupeForm.invalid" class="btn btn-primary">Créer le groupe</button>
    </form>
  </div>
  