<div class="container">
  <div class="left-panel">
    <img src="logo.png" alt="ForumConnect" class="left-image" />
    <h1>ForumConnect, Connect Instantly.</h1>
    <p>Engage, Share, Connect with ease.</p>
  </div>
  <div class="right-panel">
    <div class="container-auth">
      <div class="signup-section" id="register">
        <header>Signup</header>
        <form>
          <div class="name-container">
            <input type="text" placeholder="First Name" required />
            <input type="text" placeholder="Last Name" required />
          </div>
          <input type="text" placeholder="Nickname" />
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <input type="date" placeholder="Date of Birth" required />
          <div class="file-input-container">
            <input type="file" id="file-input" />
            <label class="file-input-label">Choose an avatar</label>
          </div>
          <textarea placeholder="About Me"></textarea>
          <button type="submit" class="btn">Signup</button>
        </form>
      </div>
      <div class="login-section">
        <header>Login</header>
        <form id="loginForm">
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <a href="#">Forget Password?</a>
          <button class="btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
