<div class="container">
  <div class="left-panel">
    <img src="logo.png" alt="ForumConnect" class="left-image">
    <h1>ForumConnect, Connect Instantly.</h1>
    <p>Engage, Share, Connect with ease.</p>
  </div>
  <div class="right-panel">
    <div class="title animated-text">
      <h1>Social Network</h1>
      <div class="barre"></div>
    </div>
    <div class="form">
      <form class="login-form" [formGroup]="loginForm" >
        <h2>Log in</h2>
        <label for="post-content">Post Content</label>
        <input type="text" id="post-content" formControlName="username" placeholder="Enter your message here">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Password">
        <button type="submit" (click) = "onlogin()">Log in</button>
        <a href="#" class="forgot-password">Forgot your password?</a>
      </form>
    </div>
  </div>
</div>
