<h2 mat-dialog-title>Comments</h2>
<mat-dialog-content class="mat-typography">
  <div class="container" *ngFor="let comment of comments">
    <div class="user-comment">
      <div class="user">
        <!-- <span>{{comment.username}}</span> -->
      </div>
      <div class="comment">
        {{comment}}
      </div>
      <div class="date">
        <!-- <span>{{comment.createdAt}}</span> -->
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
