@if(username != ""){
<mat-toolbar class="app-toolbar">
    <div class="toolbar-left">
        <a routerLink="/" class="logo">
            <img src="logo.png" height="60" alt="" />
            <span class="title">{{ title }}</span></a>
    </div>

    <div class="toolbar-center">
        <input matInput placeholder="Search..." />
    </div>

    <div class="toolbar-right">
        <button (click)="visibilityMessage()" [matBadgeHidden]="hiddenMessage"
            aria-label="Example icon-button with heart icon" class="example-icon" mat-icon-button matBadge="12">
            <mat-icon>chat</mat-icon>
        </button>
        <button (click)="visibilityNotif()" [matBadgeHidden]="hiddenNotif"
            aria-label="Example icon-button with heart icon" class="example-icon" mat-icon-button matBadge="7">
            <mat-icon>notifications</mat-icon>
        </button>
        <div class=" relative">
            <img src="female.svg" width="30" height="30" alt="profile" />
            <span class="username">{{ username }}</span>

        </div>
    </div>
</mat-toolbar>

}