@if(username != ""){
<mat-toolbar class="app-toolbar">
    <div class="toolbar-left">
        <a routerLink="/" class="logo">
            <img src="logo.png" height="60" alt="" />
            <span class="title">{{ title }}</span></a>
    </div>

    <div class="toolbar-center">
        <input matInput placeholder="Search..." />
    </div>

    <div class="toolbar-right">
        <button (click)="visibilityMessage()" [matBadgeHidden]="hiddenMessage"
            aria-label="Example icon-button with heart icon" class="example-icon" mat-icon-button matBadge="12">
            <mat-icon>chat</mat-icon>
        </button>
        <button (click)="visibilityNotif()" [matMenuTriggerFor]="menu" [matBadgeHidden]="hiddenNotif"
            aria-label="Example icon-button with heart icon" class="example-icon" mat-icon-button matBadge="7">
            <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <div class=" relative">
            <button [matMenuTriggerFor]="userMenu" class="user-menu-button">
                <div class="user-info">
                    <img src="female.svg" width="30" height="30" alt="profile" />
                    <span class="username">{{ username }}</span>
                </div>
            </button>
    
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="handleLogout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>

}