$lightBlue: #b8daff;
$danger: #f44336;
$primaryColor: #005cbb;

body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #1da1f2;
    color: white;
}

.close {
    cursor: pointer;
    font-size: 18px;
    background: #fff;
    color: #333;
    border-radius: 50%;
}
.close svg {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    color: #333;
}

.chat-header h5 {
    margin: 0;
    font-size: 18px;
}

.chat-header .exit {
    cursor: pointer;
    font-size: 18px;
}

.chat-box {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.typing-message {
    display: none;
    font-size: 12px;
}

.typing-indicator {
    display: none;
}

.typing-indicator .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-indicator .dots-container {
    display: flex;
}

.typing-indicator .point {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #1da1f2;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}

@keyframes blink {
    0%,
    80%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.message-form {
    display: flex;
    padding: 10px;
}

.message-container {
    display: flex;
    width: 100%;
}

.message-input {
    width: 100%;
    padding: 6px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    resize: none;
    height: 40px;
    min-height: 38px;
    overflow: hidden;
}
.message-input:focus {
    outline: none;
    border: 2px solid $lightBlue;
}

.send-button {
    margin-left: 10px;
}
.send-button svg {
    width: 27px;
    height: 40px;
    background: none !important;
}
svg:not(:root) {
    overflow: hidden;
    vertical-align: middle;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Cache la date par défaut */
.timeBoxReceived,
.timeBoxSent {
    display: none;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

/* Affiche la date au survol du message */
.messageContainer:hover .timeBoxReceived,
.messageContainer:hover .timeBoxSent {
    display: block;
    color: #555;
}

.msgBoxSent {
    background-color: #07a1bd; /* Couleur de fond bleu éclatant pour les messages envoyés */
    border: none; /* Supprimez la bordure pour un look plus net */
    border-radius: 18px; /* Coins plus arrondis */
    width: fit-content; /* Adapte la largeur au contenu */
    max-width: 80%; /* Limite la largeur maximale */
    padding: 10px 15px; /* Espacement interne pour plus de confort */
    margin: 5px 10px 7px auto; /* Espacement autour du message, `auto` pour aligner à droite */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour de la profondeur */
    text-align: left;
    overflow-wrap: break-word; /* Pour gérer le texte qui dépasse */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Une police lisible et moderne */
    font-size: 14px; /* Taille de police standard */
    color: white; /* Couleur du texte pour contraster avec le fond bleu */
}

.msgBoxReceived {
    background-color: #f0f0f0; /* Une couleur de fond douce et claire */
    border: none; /* Supprimez la bordure pour un look plus moderne */
    border-radius: 18px; /* Coins plus arrondis */
    width: fit-content; /* Adapte la largeur au contenu */
    max-width: 80%; /* Limite la largeur maximale */
    padding: 10px 15px; /* Espacement interne pour plus de confort */
    margin: 5px 10px 7px 10px; /* Espacement autour du message */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour de la profondeur */
    text-align: left;
    overflow-wrap: break-word; /* Pour gérer le texte qui dépasse */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Une police lisible et moderne */
    font-size: 14px; /* Taille de police standard */
    color: #333; /* Couleur du texte */
}

.messageContainer {
    display: flex;
    align-items: center;
}

.received {
    justify-content: flex-start !important;
}

.sent {
    justify-content: flex-end !important;
}
