<app-toolbar></app-toolbar>
<div class="group-container">
    <div class="group-list" *ngIf="groups.length > 0; else noGroups">
        <div class="container" *ngFor="let group of groups" class="group-card">
            <div class="onegroup">
                <div class="header-group">
                    <div class="img">
                        <img [src]="group.image" alt="">
                    </div>
                    <h3> <strong>Name</strong> :{{group.name}}</h3>
                    <p><strong>Description :</strong>{{group.description}}</p>
                    <div class="admin-actions">
                        @if(group.owner == id){
                        <button mat-button color="primary"
                            (click)="handleClick('/group/edit', $event)">Modifier</button>
                        <button mat-button color="warn"
                            (click)="handleClick('/group/delete', $event)">Supprimer</button>
                        }
                        <button mat-button color="primary" (click)="handleClick('/event/create', $event)">Ajouter un
                            évènement</button>
                    </div>
                </div>
                <div class="event-group">
                    <h4>Évènements</h4>
                    <div class="events" *ngFor="let event of Events">
                        <mat-card class="example-card" appearance="outlined">
                            <mat-card-header>
                              <img routerLink="/profile/{{event.owner}}" mat-card-avatar src="logo.png"  alt="profile">
                              <mat-card-title routerLink="/profile/{{event.owner}}">
                                {{ AllUser[1].firstname }}
                              </mat-card-title>
                              <mat-card-subtitle routerLink="/profile/{{event.owner}}">
                                <!-- {{ AllUser[event.owner].created_at | date:'mediumDate' }} -->
                              </mat-card-subtitle>
                            </mat-card-header>
                            <div class="img" *ngIf="event.image && event.image.length != 0" >
                              <img class="post-image" mat-card-image [src]="event.image" alt="Post image">
                            </div>
                        
                            event.owne             <mat-card-content>
                              <p>{{event.description}}</p>
                            </mat-card-content>
                            <!-- <mat-card-actions>
                              <button mat-icon-button (click)="onLike(post.id, 'post')">
                                <span>{{ likemap[post.id] || 0 }}</span>
                                <mat-icon>thumb_up_outline</mat-icon>
                              </button>
                              <button mat-icon-button (click)="onDislike(post.id, 'post')">
                                <span>{{ dislikemap[post.id] || 0 }}</span>
                                <mat-icon>thumb_down</mat-icon>
                              </button>
                              <span class="spacer"></span>
                            </mat-card-actions> -->
                          </mat-card>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <ng-template #noGroups>
        <p>Aucun groupe à afficher.</p>
    </ng-template>
</div>